datetime
os
keyboard
time
notify-py
pyautogui
pyttsx3
geopy
geocoder
webbrowser
qrcode
pyPDF2
nltk
pyjokes
pywhatkit
speech_recognition
PyDictionary
beautifulsoup4
google
pytube
os_sys
pygame
random
requests
pywikihow
wolframalpha
time
cv2
tkinter
forex_python
newsapi-python
